body {
                background: #D6DDF6;
                font-family: "Lucida Console", "Courier New", monospace;
            }
            
figure {width:20%;
             background: /*#EFD6F6*/ white;;
            }
            
img {width:80%;}
            
img#PSB {width:10%;}
            
section{
            background: coral;
            width:90%;
            margin:auto;
            }
