body {
    background: lavender;
    font-family: "Lucida Console", "Courier New", monospace;
}

iframe.thinglink {
    width:960px; 
    height:720px;}

figure {
    background: /*#EFD6F6*/ white;  
}
figure.shelf { 
   width:80%;
   margin:auto;
}

figcaption { 
    text-align: center;
    background:aqua;
}

img {
    width: 80%;
    margin-left:10%;
    margin-right:10%;
}

img#PSB {
    width: 10%;
}


div.flex {
    
   display:flex; 
   
}

section {
    background: pink;
    width: 90%;
    margin: auto;
    padding:1em;
}

section.resume {
    padding-left: 5em;
    padding-right: 5em;
    background:silver;
   
}

section.inner {
    background:lavender;
}

