/* This is a comment in CSS. */
body {color: indigo;
font-family: arial, helvetica, sans-serif; }
/* CSS inheritance rules indicate that all elements inside the body will inherit the color and font-family properties that I set here on this BIG container element */

/*body section section { background-image: linear-gradient(red, orange, yellow, green, blue, indigo, violet); padding:2em;}

body section {background-image: url("images/littleNewt.jpg"); padding:2em;}*/

body section.gallery {background-color: lavender; background-image: none; padding:2em; margin:auto;}

/* ebb: This is a comment in CSS: 
 * Notice that the properties I set on the <body> element get passed down to elements inside it. So all my text is the color and font that I set here. 
 * If I want to change the styling of internal elements, I can just enter their names and apply CSS properties to them, following CSS syntax. 
 */

figure {width:30%; margin:auto; padding-top: 1vw; padding-bottom: 1vw;}
figcaption {font-style: italic; font-size: smaller;}
img.photo {max-width:500px; width:100%}
/* If I want to style ANY element with the class of "photo" I could just write 
 * .photo { }
 *  */

ol {list-style-type: lower-alpha;
padding: 5em;
    
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link. I used a hexadecimal color code for something dark green that I picked from: 
 * https://www.w3schools.com/colors/colors_picker.asp  */
a:visited {
  color: #006600;
}

/* mouse over link */
a:hover {
  color: orange;
}

/* selected link */
a:active {
  color: blue;
}

nav.menuA {text-align: center; font-size: 3vw; }
/*  Units to try: em and vw. vw means a percentage of the viewport width 
 * and is often used in responsive web design (responsive to size of device screens)
 * em is also responsive: it is the width of the standard letter M in your font usually 16 px. 
 *  */
 
 nav ul.menuB {
  list-style-type: none;
  
}

nav ul.menuB li {display:inline; font-size: 2vw; padding:2vw;}

nav#menu {padding:2vw; }
 
 .button { border:2px; border-style:solid; border-color:red; padding:2vw; background-color:#E6E6FA; color:yellow; width:10%; display:inline;
 border-radius: 20px;
 }
 
